:root {
  box-sizing: border-box; /* TODO: Check syntax */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* TODO: Change this */
  line-height: 1.5;
  font-weight: 400;

  color: #484547; /* Bitter black */
  background-color: #f8f9fa; /* Chestnut white */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #484547; /* TODO: Change this */
  text-decoration: none;
}
a:hover {
  color: #484547; /* TODO: Make a subtle change */
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;

  margin: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2;
}

header {
  padding: 0.25em;
}

.card {
  padding: 2em;
}

#app {
  margin: 0;
  text-align: center;
}

/* TODO: Look into how this is done, edit, and use for other elements */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #484547;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: border-color 0.25s ease-out;
  transition: color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}
button:hover {
  border-color: #484547;
  color: #f8f9fa;
  background-color: #484547;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

li {
  margin: 0.5em;
}

p {
  font-size: 1.2em;
  max-width: 50em;

  margin: auto;
}
