{% extends "base.html" %} {% block content %}
<h1 id="content-list-title">{{ section.title }}</h1>
<hr class="title-underline" />
<p id="content-list-description">{{ section.description }}</p>
<div class="content-listing">
  {% for page in section.pages %}
  <a href="{{ page.permalink | safe }}" class="blog-card">
    <h3 class="blog-card-title decorated-link">{{ page.title }}</h3>
    <span class="blog-card-date">{{page.date}}</span>
    <p class="blog-card-description">{{page.description | safe}}</p>
  </a>
  {% endfor %}
</div>
{% endblock content %}
