<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>λm.m</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>

  <body>
    <header>
      <div id="header-banner">
        <h1 id="site-title"><a href="/" class="decorated-link">λm.m</a></h1>
        <nav>
          <ul>
            <a class="nav-item decorated-link" href="/tags">/tags</a>
            <a class="nav-item decorated-link" href="/blog">/blog</a>
            <a class="nav-item decorated-link" href="/software">/software</a>
          </ul>
        </nav>
      </div>
    </header>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <span class="line">© 2024 Matthew Mark Ibbetson,&nbsp;</span>
      <span class="line">
        Content
        <a href="/license/CC-BY-NC-SA-4.0.txt" class="decorated-link"
          >CC-BY-NC-SA-4.0</a
        >
        ,&nbsp;
      </span>
      <span class="line">
        Source Code
        <a href="/license/AGPL-3.0-or-later.txt" class="decorated-link"
          >AGPL-3.0-or-later</a
        >
      </span>
    </footer>
  </body>
</html>
