{% extends "base.html" %} {% block content %}
<h1 id="content-list-title">About</h1>
<p>
  Hi! I'm Matthew Mark Ibbetson. I'm a software developer with preference for
  functional programming and an interest programming language design,
  implementation and history. My primary languages of interest are Elixir,
  Erlang, and Rust. Occupationally, I work frequently with TypeScript and C#.
</p>
<p>
  My open-source software projects are largely centered around plaintext
  workflow tools, such as the
  <a
    href="https://github.com/mmibbetson/dn"
    target="_blank"
    referrerpolicy="noreferrer"
    class="decorated-link"
  >
    <code>dn</code> note-taking tool
  </a>
  and the
  <a
    href="https://github.com/mmibbetson/litr"
    target="_blank"
    referrerpolicy="noreferrer"
    class="decorated-link"
  >
    <code>litr</code> literate programming tool </a
  >. Otherwise, my programming interests aim toward creating soft-real-time,
  self-healing, scalable, concurrent systems with the BEAM.
</p>
<p>
  Outside of programming, I am an avid music enthusiast and novice audiophile; I
  enjoy reading and writing short-form literature and occasionally taking
  pictures with my Fujifilm Instax Mini 40. I have also recently taken to
  recreational logic and mathematics.
</p>
<p>
  I can be reached via
  <a
    href="mailto:mmibbetson@gmail.com"
    target="_blank"
    referrerpolicy="noreferrer"
    class="decorated-link"
  >
    email
  </a>
  and be found with the username "mmibbetson" wherever I have an account.
</p>
{% endblock content %}
