*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "CommitMono";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("../font/CommitMono/CommitMono\ VariableFont.woff2") format("woff2");
}

:root {
  --font-code: "CommitMono";
  /* These font sizes are not acceptable on mobile. */
  --text-sm: 1rem;
  --text-md: 1.25rem;
  --text-lg: 2rem;
  --text-xl: 3rem;
  --fg: black;
  --fg-transparent: #00000011;
  --bg: white;
  --bg-alt: white;
  --bg-code: #ebdbb2;
  --link: lightblue;
  --link-active: black;
  --link-glow: lightblue;
  --primary: lightgreen;
  --secondary: lightblue;
  --tertiary: grey;

  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #fff;
    --fg-transparent: #ffffff11;
    --bg: #000;
    --bg-alt: grey;
    --bg-code: #282828;
    --link: lightblue;
    --link-active: white;
    --link-glow: lightgreen;
    --primary: lightgreen;
    --secondary: lightblue;
    --tertiary: grey;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    transform: none !important;
  }
}

body {
  margin: auto;
  font-family: var(--font-main);
  color: var(--fg);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  place-items: center;
  font-size: var(--text-md);
  min-height: 100vh;
}

header {
  width: 100%;
  border-bottom: 0.125rem solid var(--fg-transparent);
}

main {
  flex: 1;
  max-width: 60rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  place-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  place-items: center;
  justify-content: center;
  font-size: var(--text-sm);
}

pre {
  padding: 1rem;
}

code {
  font-family: var(--font-code);
}

a {
  color: var(--secondary);
  text-decoration-line: none;
  text-decoration: none;
  transition: all 0.1s ease;
}

a:hover {
  color: var(--link-active);
  text-shadow: 0 0 0.1rem var(--link-glow), 0 0 0.2rem var(--link-glow),
    0 0 0.2rem var(--link-glow), 0 0 0.5rem var(--link-glow);
  text-decoration: none;
}

hr {
  color: var(--fg-transparent);
  width: 80%;
  margin: 0;
}

#header-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-self: center;
}

.site-title {
  font-size: var(--text-lg);
  margin-right: auto;
}

.nav-item {
  font-size: var(--text-lg);
  padding-right: 0.5rem;
}

#content-list-title {
  font-size: var(--text-xl);
  text-align: center;
}

#content-list-description {
  font-size: var(--text-lg);
  text-align: center;
}

.content-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-card {
  width: 100%;
  border-bottom: 0.125rem solid var(--fg-transparent);
  margin-bottom: 1rem;
}

.blog-card-title {
  display: flex;
  flex-direction: row;
}

.blog-card-date {
  margin-left: auto;
}

.blog-card-description {
  color: var(--fg);
  font-size: var(--text-md);
  text-decoration: none;
}

.software-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  place-items: center;
  justify-items: center;
}

.software-card-title {
  text-align: center;
  font-size: var(--text-xl);
}

.software-card-date {
  margin-left: auto;
}

.software-card-description {
  color: var(--fg);
  font-size: var(--text-md);
  text-decoration: none;
  justify-self: center;
  max-width: 20rem;
  margin-left: auto;
}

#content-page-date {
  text-align: center;
  font-style: italic;
  font-size: var(--text-sm);
  color: var(--tertiary);
}

#content-page-title {
  font-size: var(--text-xl);
  text-align: center;
}

.blog-tag-bubble-list {
  display: flex;
  flex-direction: row;
  justify-items: center;
  place-items: center;
  padding: 1rem;
  list-style-type: none;
}

.blog-tag-bubble {
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.75rem;
  margin: 0.5rem;
  border: 0.125rem solid var(--secondary);
  border-radius: 0.125rem;
  background-color: var(--bg-alt);
}
