*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "CommitMono";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("../font/CommitMono/CommitMono\ VariableFont.woff2") format("woff2");
}

:root {
  --font-code: "CommitMono";
  /* These font sizes are not acceptable on mobile. */
  --text-sm: 1rem;
  --text-md: 1.25rem;
  --text-lg: 2rem;
  --text-xl: 3rem;
  --text: #000;
  --title: #000;
  --bg: #fff;
  --code-bg: #ebdbb2;
  --link: lightblue;
  --link-active: lightgreen;
  --inlineCode-bg: lab(from #ebdbb2);
  --inlineCode-text: lab(from #282828);
  --primary: red;
  --secondary: blue;
  --tertiary: green;

  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --title: #fff;
    --bg: #000;
    --code-bg: #282828;
    --link: lightblue;
    --link-active: lightgreen;
    --inlineCode-bg: #282828;
    --inlineCode-text: #ebdbb2;
    --primary: red;
    --secondary: blue;
    --tertiary: green;
  }
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    transform: none !important;
  }
}

body {
  margin: auto;
  font-family: var(--font-main);
  color: var(--text);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  place-items: center;
  font-size: var(--text-md);
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

main {
  flex: 1;
  max-width: 60rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  place-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  place-items: center;
  justify-content: center;
  font-size: var(--text-sm);
}

h1 {
}

p {
}

pre {
  padding: 1rem;
}

code {
  font-family: var(--font-code);
}

li {
}

a {
  color: var(--link);
  text-decoration-line: none;
}

a:hover {
  color: var(--link-active);
}

hr {
  color: var(--tertiary);
  width: 80%;
  margin: 0;
}

#header-rule {
  width: 100%;
}

#footer-rule {
  max-width: 50rem;
}

.site-title {
  font-size: var(--text-lg);
  margin-right: auto;
}

.nav-item {
  font-size: var(--text-lg);
  padding-right: 0.5rem;
}
